Disparo_em_Massa___Email.json
{
  "name": "Disparo em Massa - Email",
  "nodes": [
    {
      "parameters": {
        "content": "## Envio de e-mail \n\n",
        "height": 332.0152799873119,
        "width": 327.65476672967463
      },
      "id": "da3f099d-c972-4772-957d-285db845a56f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3360,
        1600
      ]
    },
    {
      "parameters": {
        "setAllData": false,
        "options": {}
      },
      "id": "111dc9a7-7af2-4d76-8aff-c85216066e65",
      "name": "Move Binary Data",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        -2080,
        1800
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "334330a2-d66a-499c-b8cf-73ce4a3c2194",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        -1780,
        1700
      ]
    },
    {
      "parameters": {},
      "id": "8254b76b-5433-4425-9daa-7c93eb784285",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1300,
        1960
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.Anexos.data_url }}",
        "rules": {
          "rules": [
            {
              "operation": "contains",
              "value2": ".csv"
            }
          ]
        },
        "fallbackOutput": 1
      },
      "id": "9006c792-a3ab-4479-accc-a1365f6c4f77",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -2600,
        1700
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Anexos",
              "value": "={{ $json.body.messages[0].attachments }}"
            },
            {
              "name": "Texto",
              "value": "={{ $json.body.messages[0].content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7cab6b47-6fb4-4f1a-8966-361b5eb1bbe4",
      "name": "Default",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -3000,
        1700
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "Anexos",
        "include": "selectedOtherFields",
        "fieldsToInclude": {
          "fields": [
            {
              "fieldName": "Texto"
            },
            {
              "fieldName": "Texto"
            }
          ]
        },
        "options": {}
      },
      "id": "aa363d9a-10a0-4697-8c7a-a49f1f2ca985",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2.1,
      "position": [
        -2800,
        1700
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "email-massa",
        "options": {
          "rawBody": true
        }
      },
      "id": "fb1c23fe-372d-4e01-9a96-16d3eae6f94e",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -3240,
        1700
      ],
      "webhookId": "44c8fe13-bb08-411f-9e9b-473256360e58"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "f1f6180c-ebe4-48af-b6d7-a8e294fc4dde",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        -1540,
        1700
      ]
    },
    {
      "parameters": {
        "fromEmail": "Equipe uaizapp • crm <uaiz.app.crm@gmail.com>",
        "toEmail": "={{ $json.Email }}",
        "subject": "={{ $json.Texto }}",
        "emailFormat": "html",
        "html": "={{ $json.data }}",
        "options": {}
      },
      "id": "76238bda-a763-4513-8134-5a81255cdb23",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        -1300,
        1620
      ],
      "credentials": {
        "smtp": {
          "id": "7",
          "name": "SMTP UAIZAPP"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.Anexos.data_url }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "4eea48e6-163d-4f24-9b08-83c616b82b54",
      "name": "Get Table",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2300,
        1600
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.Anexos.data_url }}",
        "options": {}
      },
      "id": "de31a063-c740-4a63-99d4-25ee25e6842f",
      "name": "Get HTML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2300,
        1800
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "2efe993f-7ecd-4834-926f-33a8cb8bf941",
      "name": "Spreedsheet",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [
        -2080,
        1600
      ],
      "alwaysOutputData": true,
      "executeOnce": false
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "852f73f7-3ce2-459a-92ce-6c5520a89cce",
      "name": "Wait 5 Seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -1060,
        1700
      ],
      "webhookId": "84ce2d4d-e424-4a4e-ae13-3d97acaf7af0"
    }
  ],
  "pinData": {},
  "connections": {
    "Move Binary Data": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get Table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Default",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Wait 5 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Table": {
      "main": [
        [
          {
            "node": "Spreedsheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get HTML": {
      "main": [
        [
          {
            "node": "Move Binary Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spreedsheet": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5 Seconds": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "timezone": "America/Bahia",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "9"
  },
  "versionId": "8b39c795-4f1a-4f6a-b7b3-c2f6abedad0b",
  "id": "26",
  "meta": {
    "instanceId": "1fe98c299b971a7079b9db95fbeeba6cbda6e3d96bd81b2b3e802bd6130b3324"
  },
  "tags": [
    {
      "createdAt": "2023-06-21T15:39:50.462Z",
      "updatedAt": "2023-06-21T15:41:38.858Z",
      "id": "10",
      "name": "uaizapp • crm"
    },
    {
      "createdAt": "2023-07-20T01:41:13.579Z",
      "updatedAt": "2023-07-20T01:41:13.579Z",
      "id": "13",
      "name": "Versão 1.3"
    }
  ]
}