Disparo_em_Massa_de_E_mail.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -800,
        820
      ],
      "webhookId": "19a8ac07-3843-4367-8876-b7590c65c425",
      "id": "e77705e7-d909-4bd8-949e-3c5df64ab215"
    },
    {
      "parameters": {},
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "position": [
        -920,
        1260
      ],
      "typeVersion": 1,
      "id": "fd69760c-d4bb-4f17-8259-8e45bb706ed9",
      "disabled": true
    },
    {
      "parameters": {
        "batchSize": 2,
        "options": {}
      },
      "id": "a7c9daf9-b27f-4016-ace4-edf99fda1d4d",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        -1120,
        840
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "5822fdd7-eae9-45aa-adbd-be5563af043c",
        "options": {
          "rawBody": true
        }
      },
      "id": "7c5dbe7d-8879-477f-82b0-355d0dcdbec2",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1600,
        840
      ],
      "webhookId": "5822fdd7-eae9-45aa-adbd-be5563af043c"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "sheetId": "15dzZyRfHW2RKP9nruuSLILmR3alECu8ug8JxFQ5piig",
        "range": "A:G",
        "options": {
          "valueRenderMode": "FORMATTED_VALUE"
        }
      },
      "name": "Planilha",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        -1420,
        840
      ],
      "id": "c34b084c-8749-4742-8b07-c3ca2a2ffe70",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "seuemail@mail.com.br",
        "toEmail": "destinatário@mail.com",
        "subject": "Teste email",
        "text": "Olá, teste!",
        "options": {}
      },
      "id": "115b46af-c6c4-4bf3-a84a-c46d10fecca4",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        -740,
        1260
      ],
      "credentials": {
        "smtp": {
          "id": "4",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "seuemail@mail.com.br",
        "toEmail": "= {{ $json.Email }}",
        "subject": "={{ $node.Webhook.json.body.additional_attributes.mail_subject }}",
        "emailFormat": "html",
        "html": "={{ $node.Webhook.json.body.messages[0].content }} ",
        "options": {}
      },
      "id": "acb9f8a3-faa2-4bc8-bd73-86c6fd4b3fe1",
      "name": "Send Email1",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        -560,
        920
      ],
      "credentials": {
        "smtp": {
          "id": "4",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "Send Email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email1": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Planilha": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "70792482-178e-45cc-815c-aece2809009e",
  "id": "18",
  "meta": {
    "instanceId": "1fe98c299b971a7079b9db95fbeeba6cbda6e3d96bd81b2b3e802bd6130b3324"
  },
  "tags": []
}